defaults: &defaults
  pool: 5
  timeout: 5000
  encoding: unicode
  adapter: postgresql

development:
  adapter: postgresql
  encoding: utf8
  database: sevdol_development
  pool: 5
  username: postgres
  host: localhost

test:
  adapter: postgresql
  encoding: utf8
  database: sevdol_test
  pool: 5
  username: postgres
  host: localhost

production:
  adapter: postgresql
  encoding: utf8
  database: sevdol_production
  pool: 5
  username: postgres
