#modal_post.modal.fade
  .modal-dialog
    .modal-content
      .modal-body
        %button.close#closebtn{ aria: { hidden: true }, data: { dismiss: :modal }, type: 'button' } ×
        = image_tag(@post.image_url.to_s, class: 'modal-image')

